<p id="notice"><%= notice %></p>
<h1> Mostrar Personas </h1>
<table class= "striped">
  <thead>
    <tr>
      <th data-field="nombre">Nombre</th>
      <th data-field="rol">Rol</th>
      <th data-field="telefono">Telefono</th>
      
      

    </tr>

  </thead>
  <tbody>
    <td><%= @person.nombre %></td>
    <% if @person.rol==1 %>
      <td>Jefe</td>
      <%end%>
      <% if @person.rol==2 %>
        <td>Vendedor</td>
        <%end%>
        <%if @person.rol==3%>
        <td>Seguridad</td>
    <%end%>
    <td><%= @person.telefono %></td>
  </tbody>
</table> 

<%= link_to 'Ver Registros', registro_path(:camp => @person.id) %> |
<%= link_to 'marcar hora', registry_path %> |
<%= link_to 'Volver', people_path %>

