<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_documento %><br>
    <%= f.number_field :tipo_documento %>
  </div>
  <div class="field">
    <%= f.label :cantidad_producto %><br>
    <%= f.number_field :cantidad_producto %>
  </div>
  <div class="field">
    <%= f.label :rut_proveedor %><br>
    <%= f.text_field :rut_proveedor %>
  </div>
  <div class="field">
    <%= f.label :valor_neto %><br>
    <%= f.number_field :valor_neto %>
  </div>
  <div class="field">
    <%= f.label :valor_exento %><br>
    <%= f.number_field :valor_exento %>
  </div>
  <div class="field">
    <%= f.label :valor_iva %><br>
    <%= f.number_field :valor_iva %>
  </div>
  <div class="field">
    <%= f.label :folio %><br>
    <%= f.number_field :folio %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Factura" %>
  </div>
<% end %>
