<p id="notice"><%= notice %></p>

<h1>Lista de Facturas</h1>

<table>
  <thead>
    <tr>
      
      <th>Folio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        
        <td><%= invoice.folio %></td>
        <td><%= link_to 'Mostrar', invoice %></td>
        <td><%= link_to 'Editar', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'agregar productos', nuevo_path %></td>
        <td><%= link_to 'Eliminar', invoice, method: :delete, data: { confirm: '¿Estas Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_invoice_path %>
