<p id="notice"><%= notice %></p>
<h1> Mostrar Facturas </h1>
<table class= "striped">
  <thead>
    <tr>
      <th data-field="tipo_documento">Tipo de Documento</th>
      <th data-field="cantidad_producto">Cantidad de Producto</th>
      <th data-field="rut_proveedor">Rut Proveedor</th>
      <th data-field="valor_neto">Valor neto</th>
      <th data-field="valor_exento">valor Exento</th>
      <th data-field="valor_iva">Valor IVA</th>
      <th data-field="folio">Folio</th>
      


    </tr>

  </thead>
  <tbody>
    <td><%= @invoice.tipo_documento %></td>
    <td><%= @invoice.cantidad_producto %></td>
    <td><%= @invoice.rut_proveedor  %></td>
    <td><%= @invoice.valor_neto %></td>
    <td><%= @invoice.valor_exento %></td>
    <td><%= @invoice.valor_iva %></td>
    <td><%= @invoice.folio %></td>
  </tbody>
</table>  
<%= link_to 'Editar', edit_invoice_path(@invoice) %> |
<%= link_to 'Volver', invoices_path %>
