<p id="notice"><%= notice %></p>

<h1>Lista de Carros</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Ticket</th>
      <th>Invoices</th>
      <th>Cantidad producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carros.each do |carro| %>
      <tr>
        <td><%= carro.product %></td>
        <td><%= carro.ticket %></td>
        <td><%= carro.invoices %></td>
        <td><%= carro.cantidad_producto %></td>
        <td><%= link_to 'Mostrar', carro %></td>
        <td><%= link_to 'Editar', edit_carro_path(carro) %></td>
        <td><%= link_to 'Eliminar', carro, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Carro', new_carro_path %>
