<p id="notice"><%= notice %></p>
<h1> Mostrar Factura</h1>
<table class= "striped">
	<thead>
		<tr>
			<th data-field="monto de factura">monto factura</th>
			<th data-field="cantidad de productos">cantidad producto</th>
			<th data-field="rut del proveedor">rut proveedor</th>
		</tr>
	</thead>
	<tbody>
		<td><%= @factura.monto_factura%> </td>
		<td><%= @factura.cantidad_producto%> </td>
        <td><%= @factura.rut_proveedor%></td>
	</tbody>
</table>
<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>

