<%= form_for(@boletum) do |f| %>
  <% if @boletum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@boletum.errors.count, "error") %> prohibited this boletum from being saved:</h2>

      <ul>
      <% @boletum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :vendedor %><br>
    <%= f.text_field :vendedor %>
  </div>
  <div class="field">
    <%= f.label :valor_total %><br>
    <%= f.text_field :valor_total %>
  </div>
  <div class="field">
    <%= f.label :tipo_pago %><br>
    <%= f.text_field :tipo_pago %>
  </div>
  <div class="field">
    <%= f.label :cantidad_producto %><br>
    <%= f.number_field :cantidad_producto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
