<p id="notice"><%= notice %></p>

<h1>Lista de Boletas</h1>

<table>
  <thead>
    <tr>
      
      <th>Codigo boleta</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        
        <td><%= ticket.codigo_boleta %></td>
        
        <td><%= link_to 'Mostrar', ticket %></td>
        <td><%= link_to 'Editar', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'agregar productos', new_carro_path%></td>
        <td><%= link_to 'Eliminar', ticket, method: :delete, data: { confirm: 'Estas seguro de elminar la boleta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Boleta', new_ticket_path %>
