<p id="notice"><%= notice %></p>
<h1> Mostrar Boleta </h1>
<table class= "striped">
  <thead>
    <tr>
      <th data-field="codigo_boleta">Codigo de Boleta</th>
      <th data-field="monto">Monto</th>
      <th data-field="tipo_pago">Tipo de Pago</th>
      
      

    </tr>

  </thead>
  <tbody>
    <td><%= @ticket.codigo_boleta %></td>
    <td><%= @ticket.monto %></td>
    <% if @ticket.tipo_pago==1%>
      <td>Efectivo</td>
    <%end%>
    <% if @ticket.tipo_pago==2%>
      <td>Debito</td>
    <%end%>
    <% if @ticket.tipo_pago==3%>
      <td>Credito</td>
    <%end%>
    <% if @ticket.tipo_pago==4%>
      <td>Cheque</td>
    <%end%>
  </tbody>
</table> 

  

<%= link_to 'Editar Boleta', edit_ticket_path(@ticket) %> |
<%= link_to 'Volver', tickets_path %>
