<p id="notice"><%= notice %></p>

<h1>Lista de Registros</h1>

<table>
  <thead>
    <tr>
      <th>Ingreso</th>
      <th>Salida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.ingreso %></td>
        <td><%= registry.salida %></td>
        <td><%= link_to 'Mostrar', registry %></td>
        <td><%= link_to 'marcar salida', edit_registry_path(registry) %></td>
        <td><%= link_to 'Eliminar', registry, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_registry_path %> |
<%= link_to 'Volver', people_path %>
