<p id="notice"><%= notice %></p>
<h1> Mostrar Registros </h1>
<table class= "striped">
  <thead>
    <tr>
      
      <th data-field="Ingreso">Ingreso</th>
      <th data-field="Salida">Salida</th>
      <th data-field="Horas Trabajadas">Horas Trabajadas</th>
      
      
      

    </tr>

  </thead>
  <% t0=@registry.ingreso %>
  <%t1=@registry.salida%>
  <%t3= (t1-t0)/3600%>
  <tbody>
    
    <td><%= @registry.ingreso %></td>
    <td><%= @registry.salida %></td>
    <td><%= t3 %></td>
    
  </tbody>
</table> 

  <



<%= link_to 'Volver', registries_path %>
