<p id="notice"><%= notice %></p>

<p>
  <strong>People:</strong>
  <%= @registry.people %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @registry.ingreso %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @registry.salida %>
</p>


<%= link_to 'Volver', registries_path %>
