<p id="notice"><%= notice %></p>
<h1> Mostrar factura </h1>
<table class= "striped">
  <thead>
    <tr>
      <th data-field="folio">folio</th>
      <th data-field="tipo_documeto">tipo documnto</th>
      <th data-field="rut_proveedor">rut proveedor</th>
      <th data-field="cantidad_porducto">cantidad de producto</th>
      <th data-field="fecha de emision">fecha de emision</th>
      <th data-field="valor_neto">valor neto</th>
      <th data-field="valor_exento">valor exento</th>
      <th data-field="valor_iva">valor iva</th>
      <th data-field="valor total">valor total</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @documento.folio %> </td>
    <td><%= @documento.tipo_documento %></td>
    <td><%= @documento.cantidad_producto %></td>
    <td><%= @documento.rut_proveedor %></td>
    <td><%= @documento.fecha_emision %></td>
    <td><%= @documento.valor_neto %></td>
    <td><%= @documento.valor_exento %></td>
    <td><%= @documento.valor_iva %></td>
    <td><%= @documento.valor_neto + @documento.valor_exento %></td>
  </tbody>
</table>

<%= link_to 'Editar', edit_documento_path(@documento) %> |
<%= link_to 'Volver', documentos_path %>
