
<div class="panel panel-primary">
  <h1> Personas</h1>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
  </tr>
  </thead>
  <tbody>
  <% @personas.each do |persona|%>
      <tr>
        <td><%=persona.nombre %></td>
        <td>
          <span class="glyphicon glyphicon-play" aria-hidden="true" ></span><%= link_to 'Mostrar', persona %> 
          </td>
        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span><%= link_to'Eliminar', persona , method: :delete, data: {confirm: 'Esta seguro?'} %> </td>
      </tr>
  <%end%>
  </tbody>
</table>
<span class="tn btn-success btn-lg bt pull-right glyphicon glyphicon-plus"><%= link_to 'Crear persona',new_persona_path %>
</span>
  <%= will_paginate @personas %>