<%@productos.each do |productos| %>
<% productos.id %>
<%end%>

<p id="notice"><%= notice %></p>

<h1>Lista de Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_producto_path %>
