<%@productos.each do |productos| %>
<%= productos.id %>
<%end%>

<p id="notice"><%= notice %></p>

<h1>Lista de Productos</h1>

<table>
  <thead>
    <tr>
      <th>Stock actual</th>
      <th>Stock minimo</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.stock_actual %></td>
        <td><%= producto.stock_minimo %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.precio %></td>
        <td><%= link_to 'Mostrar', producto %></td>
        <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
        <td><%= link_to 'Eliminar', producto, method: :delete, data: { confirm: 'esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
