<p id="notice"><%= notice %></p>
<h1> Mostrar Producto</h1>
<table class= "striped">
	<thead>
		<tr>
			<th data-field="rut del proveedor">nombre</th>
			<th data-field="monto de factura">stock actual</th>
			<th data-field="cantidad de productos">stock minimo</th>
			<th data-field="rut del proveedor">precio</th>
		</tr>
	</thead>
	<tbody>
		   <td><%= @producto.nombre%></td>
		   <td><%= @producto.stock_actual%> </td>
            <td><%= @producto.stock_minimo%></td>
            <td><%= @producto.precio%></td>
	</tbody>
</table>
<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Volver', productos_path %>
