<p id="notice"><%= notice %></p>

<h1>Boletas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo boleta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boletaas.each do |boletaa| %>
      <tr>
        <td><%= boletaa.codigo_boleta %></td>
        <td><%= link_to 'Mostrar', boletaa %></td>
        <td><%= link_to 'Eliminar', boletaa, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Boleta', new_boletaa_path %>
