<p id="notice"><%= notice %></p>

<h1> Mostrar Producto</h1>
<table class= "striped">
  <thead>
    <tr>
      <th data-field="monto de factura">codigo boleta</th>
      <th data-field="cantidad de productos">vendedor</th>
      <th data-field="rut del proveedor">monto</th>
      <th data-field="rut del proveedor">cantidad de producto</th>
      <th data-field="rut del proveedor">tipo de pago</th>
    </tr>
  </thead>
  <tbody>
       <td><%= @boletaa.codigo_boleta %></td>
            <td><%= @boletaa.vendedor %></td>
            <td><%= @boletaa.monto %></td>
            <td><%= @boletaa.cantidad_producto %></td>
            <td><%= @boletaa.tipo_pago %></td>
  </tbody>
</table>

<%= link_to 'Editar', edit_boletaa_path(@boletaa) %> |
<%= link_to 'Volver', boletaas_path %>
