<p id="notice"><%= notice %></p>

<h1>Lista de Registros</h1>

<table>
  <thead>
    <tr>
      <th>Ingreso</th>
      <th>Salida</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.ingreso %></td>
        <td><%= registro.salida %></td>
        <td><%= registro.fecha %></td>
        <td><%= link_to 'Mostrar', registro %></td>
        <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_registro_path %>
