<!DOCTYPE html>
<html>
<head>
  <title>las tres B</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <nav class="be-red write large-padding">
      <ul class="no-list row center-xs">
        <li class="col-md">
          
          <%= link_to "Inicio", root_path %>
        </li>
        <li class="col-md">
          <%= link_to "Boletas", boletaas_path %>    
        </li>
        <li class="col-md">
          <%= link_to "Facturas", documentos_path %>
        </li>
        <li class="col-md">
          <%= link_to "Productos", productos_path %>
        </li>
        <li class="col-md">
          <%= link_to "Personas", personas_path %>
        </li>
      </ul>
    </nav>
  </header>
<%= yield %>
</body>
</html>
